<h3>Héroe <small>{{heroe.nombre}}</small></h3>
<hr />

<button [routerLink]="['heroes']" class="btn btn-outline-danger">Volver</button>
<button class="btn btn-outline-success" (click)="agregarNuevo(data)" >Nuevo Heroe</button>

<br><br>

<div class="row animated fadeIn fast">
  <div class="col-md-12">

    <form (ngSubmit)="guardar()" #data="ngForm">
      <div class="form-group">
        <label>Nombre</label>
        <input type="text" name="nombre"
              class="form-control"
              placeholder="Nombre del Héroe"
             required
             [(ngModel)]="heroe.nombre">
      </div>

      <div class="form-group">
        <label>Casa</label>
        <select class="form-control" name="casa" [(ngModel)]="heroe.casa">
            <option value="Marvel">Marvel</option>
            <option value="DC">DC</option>
        </select>
      </div>

      <div class="form-group">
        <label>Bio</label>
        <textarea type="text" name="bio"
              class="form-control"
             [(ngModel)]="heroe.bio">
        </textarea>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-outline-primary" [disabled]="!data.valid">Guardar Cambios</button>
      </div>

    </form>

    {{data.valid}}
  </div>
</div>
