<h1>Heroes</h1>
<hr />

<div class="row">
  <div class="col-md-12 text-right">
    <button [routerLink]="['/heroe','nuevo']"type="button" class="btn btn-outline-primary" name="button">Nuevo Heroe</button>
  </div>
</div>
<br />

<div class="row animated fadeIn fast">
    <div class="col-md-12">
      <div class="table-responsive">

        <table class="table table-striped">
          <thead class="thead-inverse">
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Casa</th>
              <th class="text-right">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let key of heroes | keys; let i = index;">
              <th scope="row">{{i + 1}}</th>
              <td>{{heroes[key].nombre}}</td>
              <td>{{heroes[key].casa}}</td>
              <td class="text-right w120">
              <button [routerLink]="['/heroe',key]" type="button" class="btn btn-outline-success">Editar</button>
              <button (click)="eliminarHeroe(key)" type="button" class="btn btn-outline-danger">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>

        <div *ngIf="(heroes | keys).length === 0  && !loading" class="alert alert-info" role="alert">
          <strong>No hay </strong> registros que mostrar
        </div>

        <div *ngIf="loading" class="alert alert-warning" role="alert">
          <strong>Cargando... </strong> espera por favor
        </div>

      </div>
    </div>
</div>
